/* Definicions de classes utils genèriques */
.desktop { display: flex !important; }
.mobile  { display: flex !important; }
@media only screen and (max-device-width: 599px) { .desktop { display: none !important; } }
@media only screen and (min-device-width: 600px) { .mobile { display: none !important; } }
.flex       { display: flex; }
.flexRow    { flex-direction: row; }
.flexColumn { flex-direction: column; }
.none       { display: none; }
.halfWidth  { max-width: 50%; }
.botoIcona  { cursor: pointer; }
/* Definicions específiques */
#frontendMenuMobil {
  background: url('lago.jpg');
  height: 100px;
  width: auto;
  top: 0;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: blue;
  position: sticky;
  display:none;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
body {
    font-family: "Open Sans";
}
body > div {
    display: none;
}
body > #frontendHome {
    display: flex;
}

.botoMenu {
    cursor: pointer;
    margin: 0 16px;
    font-size: 2em;
}

#frontendMenuWeb .botoMenu {
 color:white;
}

#frontendMenuMobil .botoMenu {
 color:black;
}

.botoMenu:hover {
    text-decoration: underline;
}
#productesContinguts {
    width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
}
#popups {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#popups > div {
    border: solid 1px black;
    background-color: lightcyan;
    display: none;
}

#frontendMenuWeb {
    background: url('lago.jpg');
    justify-content: center;
    height: 100px;
    width: auto;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.oscuro{
  opacity: 0.5;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 30px;
}

#menuContainer {
    border-radius: 10px;
    background-color: white;
    color: black;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    overflow: hidden;
    top: 100%;
    transform: translateY(0);
    transition: transform 0.5s ease;
    will-change: transform;
}

.producte {
	margin:30px;
	padding:30px;
	border: solid 1px grey;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imatgesProducte {
	display: flex;
	align-items: center;
}
.fletxaImatgesProducte {
	background-color: grey;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: bold;
}